<div class="left-sidebar">
  <div class="logotype">
    <div>tiny</div><div>movies</div>
  </div>

  <div class="menu-wrapper">
    <div class="menu-list">
      <div class="menu-list-title">Menu</div>
      <a routerLink="home" class="menu-list-item">Home</a>
      <a routerLink="discover" class="menu-list-item">Discover</a>
      <a routerLink="awards" class="menu-list-item">Awards</a>
      <a routerLink="celebrities" class="menu-list-item">Celebrities</a>
    </div>
    <div class="menu-list">
      <div class="menu-list-title">Library</div>
      <a routerLink="recent" class="menu-list-item">Recent</a>
      <a routerLink="top-rated" class="menu-list-item">Top Rated</a>
      <a routerLink="downloaded" class="menu-list-item">Downloaded</a>
      <a routerLink="playlists" class="menu-list-item">Playlists</a>
      <a routerLink="watchlist" class="menu-list-item">Watchlist</a>
      <a routerLink="completed" class="menu-list-item">Completed</a>
    </div>
    <div class="menu-list">
      <div class="menu-list-title">General</div>
      <a routerLink="settings" class="menu-list-item">Settings</a>
      <div class="menu-list-item">Log Out</div>
    </div>
  </div>
</div>
